.category{
    color: $black;
    margin-left: 1rem;

    a{
        width: 90%;
    }
    &__recipe {
        width: 90%;
        padding: 1rem;
        background-color: $lightWhite;
        border-radius: 20px;
        margin-bottom: 10px;
        transition: 300ms ease-in-out;
        
        img{
            width: 500px;
            height: auto;
            border-radius: 10px;
        }

        h1{
            color: $black;
            font-size: 45px;
            flex: 1;
        }

        &:hover {
            background-color: $white;
        }
    }
    
}