//Fonts Import
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Roboto+Slab&family=Space+Grotesk&display=swap');

$fontBody: 'Open Sans', sans-serif;
$fontRoboto: 'Roboto Slab', serif;;
$fontSpaceG: 'Space Grotesk', sans-serif;

//Font Sizes
$font-sm: 0.875rem; // 14px
$font-med: 1.125rem; // 18px
$font-lg: 1.25rem;
$font-xlg: 3.25rem;


//Colors
$bodyColor: linear-gradient(rgba(212, 243, 240, 0.712), rgba(141, 153, 148, 0.719), rgba(255, 255, 255, 0.712));
$white: rgb(255, 255, 255);
$lightWhite: rgba(255, 255, 255, 0.8);
$lightGrey: rgba(70, 102, 133, 0.5);
$green: rgba(46, 211, 197, 0.712);

//Text-Shadow
$textShadow: 0.03em 0.075em 0.03em #ddd, 
0.02em 0.25em 0.4em color-mix(in srgb-linear, rgb(46, 211, 148) 50%, rgba(46, 186, 211, 0.562) 50%),
1px 0px 0px rgb(46, 211, 148),
0px -1px 0px rgba(46, 178, 211, 0.377),
0px 1px 0px rgba(20, 169, 206, 0.479);